body {
  padding-top: 56px;
}
.cordefundo{	
	background: #E0FFFF;  		
} 
.navbar-brand{
	font-family:new century schoolbook;
	font-style: italic;
	font-size: 38px;
	margin-top: 0cm;
}
.imgitem1{
    width: 640px;
    height: 523px;
    display: flex;
    margin:0px;	
  	align-items: left; 
}
.nomeitem1{
	position: absolute; 
	right: 141px; /* posiciona a 90px para a esquerda */ 
	top: 100px; /* posiciona a 70px para baixo */ 
}
.preco1{
	position: absolute; 
	right: 200px; /* posiciona a 90px para a esquerda */ 
	top: 400px; /* posiciona a 70px para baixo */ 	
	font-weight: 900;
	font-family:sans-serif;
}
/*
.carinho1{
	position: absolute; 
	right: 199px;  							posiciona a 90px para a esquerda  
	top: 500px;  							posiciona a 70px para baixo 
	width: 200px;
    height: 70px;
	border-width: 9px;						tamanho de borda
	border-style: outset; 					estilo de borda
	border-color: #000000; 					cor de borda
} */ 
.detalhes1{
	position: absolute; 
	right: 60px; /* posiciona a 90px para a esquerda */ 
	top: 260px; /* posiciona a 70px para baixo */ 		
}
/*
.numero1{
	position: absolute; 
	right: 270px; 							 posiciona a 90px para a esquerda 
	top: 400px; 							 posiciona a 70px para baixo 	
	width: 130px;
    height: 40px;
   	border-width: 3px;						tamanho de borda
	border-style: outset;  					estilo de borda 
	border-color: #000000; 					cor de borda
}*/ 