body {
  padding-top: 56px;
}
.cordefundo{	
	background: #E0FFFF;  		
} 
.navbar-brand{
	font-family:new century schoolbook;
	font-style: italic;
	font-size: 38px;
	margin-top: 0cm;
}
.imgitem4{
    width: 700px;
    height: 723px;
    display: flex;
    margin:0px;	
  	align-items: left;
}
.nomeitem4{
	position: absolute; 
	right: 158px; /* posiciona a 90px para a esquerda */ 
	top: 135px; /* posiciona a 70px para baixo */ 
}
.preco4{
	position: absolute; 
	right: 140px; /* posiciona a 90px para a esquerda */ 
	top: 400px; /* posiciona a 70px para baixo */ 	
	font-weight: 900;
	font-family:sans-serif;
}
.carinho4{
	position: absolute; 
	right: 199px; /* posiciona a 90px para a esquerda */ 
	top: 500px; /* posiciona a 70px para baixo */ 	
	width: 200px;
    height: 70px;
	border-width: 9px;/* tamanho de borda*/
	border-style: outset;/* estilo de borda*/
	border-color: #000000;/* cor de borda*/
}
.detalhes4{
	position: absolute; 
	right: 50px; /* posiciona a 90px para a esquerda */ 
	top: 260px; /* posiciona a 70px para baixo */ 		
}
.detalhes24{
	position: absolute; 
	right: 300px; /* posiciona a 90px para a esquerda */ 
	top: 360px; /* posiciona a 70px para baixo */ 		
}
.numero4{
	position: absolute; 
	right: 300px; /* posiciona a 90px para a esquerda */ 
	top: 400px; /* posiciona a 70px para baixo */ 		
	width: 95px;
    height: 40px;
   	border-width: 2px;/* tamanho de borda*/
	border-style: outset;/* estilo de borda*/ 
	border-color: #000000;/* cor de borda*/
}