body {
  padding-top: 56px;
}
.cordefundo{	
	background: #E0FFFF;  		
} 
.navbar-brand{
	font-family:new century schoolbook;
	font-style: italic;
	font-size: 38px;
	margin-top: 0cm;
}
.imgitem8{
    width: 700px;
    height: 623px;
    display: flex;
    margin:0px;	
  	align-items: left;
}
.nomeitem8{
	position: absolute; 
	right: 130px; /* posiciona a 90px para a esquerda */ 
	top: 135px; /* posiciona a 70px para baixo */ 
}
.preco8{
	position: absolute; 
	right: 230px; /* posiciona a 90px para a esquerda */ 
	top: 400px; /* posiciona a 70px para baixo */ 	
	font-weight: 900;
	font-family:sans-serif;
}
.carinho8{
	position: absolute; 
	right: 300px; /* posiciona a 90px para a esquerda */ 
	top: 500px; /* posiciona a 70px para baixo */ 	
	width: 200px;
    height: 70px;
	border-width: 9px;/* tamanho de borda*/
	border-style: outset;/* estilo de borda*/
	border-color: #000000;/* cor de borda*/
}
.detalhes8{
	position: absolute; 
	right:10px; /* posiciona a 90px para a esquerda */ 
	top: 260px; /* posiciona a 70px para baixo */ 		
}

.detalhes48{
	position: absolute; 
	right: 96px; /* posiciona a 90px para a esquerda */ 
	top: 280px; /* posiciona a 70px para baixo */ 		
}
.numero8{
	position: absolute; 
	right: 400px; /* posiciona a 90px para a esquerda */ 
	top: 400px; /* posiciona a 70px para baixo */ 		
	width: 95px;
    height: 40px;
   	border-width: 2px;/* tamanho de borda*/
	border-style: outset;/* estilo de borda*/ 
	border-color: #000000;/* cor de borda*/
}