body {
  padding-top: 56px;
}
.cor{	
	background: #E0FFFF;  	
	
} 
.navbar-brand{
	font-family:new century schoolbook;
	font-style: italic;
	font-size: 38px;
	margin-top: 0cm;
}
.imgitem3{
    width: 640px;
    height: 523px;
    display: flex;
    margin:0px;	
  	align-items: left; 
}
.nomeitem3{
	position: absolute; 
	right: 141px; /* posiciona a 90px para a esquerda */ 
	top: 100px; /* posiciona a 70px para baixo */ 
}
.preco3{
	position: absolute; 
	right: 200px; /* posiciona a 90px para a esquerda */ 
	top: 400px; /* posiciona a 70px para baixo */ 	
	font-weight: 900;
	font-family:sans-serif;
}
.detalhes3{
	position: absolute; 
	right: 10px; /* posiciona a 90px para a esquerda */ 
	top: 270px; /* posiciona a 70px para baixo */ 		
}


/*
.carinho3{
	position: absolute; 
	right: 199px; 					posiciona a 90px para a esquerda 
	top: 500px; 					posiciona a 70px para baixo 
	width: 200px;
    height: 70px;
	border-width: 9px;				tamanho de borda
	border-style: outset;			estilo de borda
	border-color: #000000;			cor de borda
}*/

/*
.numero3{
	position: absolute; 
	right: 270px; 					posiciona a 90px para a esquerda 
	top: 400px; 					posiciona a 70px para baixo 		
	width: 130px;
    height: 40px;
   	border-width: 3px;				tamanho de borda
	border-style: outset;			estilo de borda
	border-color: #000000;			cor de borda
}*/